EXPO_PUBLIC_SUPABASE_URL=https://dfzpxnwixwcgninoxchn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmenB4bndpeHdjZ25pbm94Y2huIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MTUzMjIsImV4cCI6MjA4ODk5MTMyMn0.qtvUYWXIxtHO3Md3T4-8iwwkx6bs-6pJ01UJapo6Tv8
